# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Virtual Environments
# --------------------
venv/
.env/

# --------------------
# OS / Editor junk
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Logs & temp
# --------------------
*.log
.streamlit/

# --------------------
# DO NOT IGNORE THESE
# --------------------
!frontend/
!backend/
!cnn_new/
