# ML
tensorflow-cpu==2.15.1
numpy==1.26.4
librosa==0.11.0
soundfile==0.13.1
h5py>=3.11.0
scipy>=1.11

# Frontend
streamlit==1.36.0

# Visualization & export
matplotlib==3.8.4
reportlab>=4.0

# Utilities
pandas>=2.2
protobuf>=3.20,<5

#backend logic
bcrypt