# ===== Outputs (DO NOT PUSH) =====
outputs/
outputs/**
models/
logs/
plots/
checkpoints/

# ===== Python cache =====
__pycache__/
*.pyc

# ===== Notebooks =====
.ipynb_checkpoints/

# ===== OS files =====
.DS_Store
Thumbs.db
